<nav class="navbar navbar-expand-md navbar-light bg-light ">
  <div class="container">
    <LinkTo @route="index" class="nav-link">Expense</LinkTo>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
         <LinkTo @route="analysis" class="nav-link">Analysis</LinkTo>
        </li>
        <li class="nav-item">
          <LinkTo @route="NewExpense" class="nav-link">NewExpense</LinkTo>
        </li>
      </ul>
    </div>
  </div>
</nav>